body {
    background: #4c857f url(../assets/background.png) repeat-y;
    background-attachment: fixed;
}

div.divInput {
    margin: 0 auto;
    text-align: center;
    width: 600px;
    padding: 10px;
    border: 1px dashed black;
    background: aquamarine;
    margin-bottom: 50px;
    margin-top: 50px;
}

div.divTable {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 50px;
}

div.sortable p,
div.sortable input {
    display: inline;
}


#tableTasks {
    width: auto;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-collapse: collapse;
}

#tableTasks th {
    background: lightcoral;
    padding: 10px 10px;
    color: white;
    height:  40px;
    font-size: 20px;
    text-shadow: 0 1px 1px #2D2020;
}

#tableTasks .writable-input,
#tableTasks td {
    font-size: 20px;
}

#tableTasks td {
    padding: 5px;
}

#tableTasks tr td:last-child{
    background-color: darksalmon;
}

#tableTasks input.delete-button {
    width: 30px;
    height:  30px;
    font-size:  20px;
    background-color:  orangered;
    color: antiquewhite
}

#tableTasks th, 
#tableTasks td {
    border-bottom: 2px solid black;
}

#tableTasks input[type='checkbox']{
    width: 25px;
    height: 25px;
}

tr {
    background-color:aliceblue
}

tr:nth-child(2n) {
    background-color: beige;
}

div.divInput > input {
    min-height: 30px;
}

#tableTasks [type="text"] {
    background: red;
}

div.divInput > input[type="text"] {
    outline: none;
    border-radius: 4px;
    width: 150px;
}

input[type="button"] {
    width: 100;
    border-radius: 8px;
    background: bisque;
    font-size: 20px;
}

div.sortable input[type='button'] {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

#tableTasks .writable-input {
    outline: none;
    border-radius: 6px;
    background-color:azure;
    text-align: center;
    width: 90%;
}

div.divInput input[type='text'] {
    font-size: 20px;
}

div.divInput #textTitle {
    width:  200px;
}

#tableTasks .writable-input:focus,
div.divInput input[type='text']:focus{
    background-color: bisque;
}